@import 'https://fonts.googleapis.com/css?family=Dancing+Script';

body {
    --text-color: #555;
    --bold-color: #333;
    --canvas-background-color: #231F20;

    --primary-color: #E6262D;
    --primary-highlight-color: #FF454B;
    --primary-shadow-color: #990D12;
    --complementary-highlight-color: #27E659;
    --complementary-shadow-color: #009928;

    margin: 0 auto;
    max-width: 50em;

    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;

    color: var(--text-color);
    background-color: #FAFAFA;
}

section {
    margin-top: 2em;
    padding: 1em;
    border: solid lightgray 1px;
    border-radius: 0.5em;
    background-color: white;
}

h1, strong {
    color: var(--bold-color);
}

h2 {
    color: var(--complementary-shadow-color);
}

.version {
    font-size: 0.6em;
    color: initial;
}

.wishes {
    font-size: 2em;
    color: var(--primary-color);
    font-family: "Dancing Script", cursive;
    text-align: center;
    /*background: linear-gradient(var(--complementary-highlight-color), var(--complementary-shadow-color));*/
}

.unity-canvas, .unityContainer {
    display: block;
    max-width: 50em;
    max-height: 40em;
    width: 100%;
    margin: auto;
    background-color: var(--canvas-background-color);
}

.play-button {
    font-size: 2em;
    padding: 0.5em 1em;
    color: var(--primary-color);
    border-radius: 0.3em;
    border: solid var(--primary-color) 1px;
}

.play-button:hover {
    color: var(--primary-highlight-color);
    border-color: var(--primary-highlight-color);
}

.play-button:active {
    color: var(--complementary-shadow-color);
    border-color: var(--complementary-shadow-color);
}

.game-container {
    text-align: center;
}

a {
    color: var(--primary-color);
}
a:hover {
    color: var(--primary-highlight-color);
}
a:active {
    color: var(--primary-shadow-color);
}
a:visited {
    color: var(--complementary-shadow-color);
}
a:visited:hover {
    color: var(--complementary-highlight-color);
}

